@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body{
    margin: 1em;
    padding: 0em 5em 2em;
    background-color: aquamarine;
    font-family: "Quicksand", sans-serif;
}
    
    #title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }

        h1{
            font-weight: 700;
            justify-self: center;
        }

    #inputs{
        font-size: medium;
        display: flex;
        justify-content: center;
        height: 20%;
        width: auto;
        color: grey;
    }

        #val-input {
            display: flex;
            background-color: aquamarine;
            flex-direction: column;
            align-items: center;
            border-radius: 1em;
            border: 0.5em solid grey;
            margin: 0em 1em;
            transition: 0.25s ease-out;
        }

            h3{
                align-self: center;
                font-size: small;
                font-weight: 700;
                margin: 0.5em;
                padding: 0.5em 0 0 0;
            }
            
            input{
                padding: 1em;
                margin: 0.5em;
                background-color: pink;
                border: 0.25em solid grey;
                border-radius: 1em;
                font-weight: 700;
                font-family: "Quicksand", sans-serif;
                transition: 0.25s ease-out;
            }
                input:hover{
                    border-color: aquamarine;
                    transition: 0.25s ease-out;
                }
            
            #val-input:hover{
                border-color: aquamarine;
                border-style: solid;
                transition: 0.25s ease-out;
            }

        button {
            width: 100%;
            background-color: pink;
            height: auto;
            margin: 0em 1em;
            border-radius: 1em;
            font-size: large;
            font-weight: 700;
            transition: 0.25s;
            font-family: "Quicksand", sans-serif;
            color: grey;
            border: 0.5em solid grey;
        }

            button:hover{
                cursor: pointer;
                border-color: aquamarine;
                border-style: solid;
                transition: 0.25s ease-out;
            }



    #sketch-area{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        padding: 1em;
        margin: 0, 2em, 2em, 5em;
    }

        #container{
            display: grid;
            grid-gap: 0.1em;
            margin: 2px;
            height:90vh;
            width: 90vh;
            justify-content: center;
            border: 1em solid grey;
            border-radius: 1em;
            padding: 0.1em;
        }

            .grid-item {
                display: flex;
                padding: 0.25em;
                background-color: grey;
                justify-content: center;
                align-items: center;
                border-radius: 1em;
            }

            .active {
                background-color: pink;
            }